.hero {
	position: relative;

	min-height: 100vh;
	padding-top: var(--header-height);
	padding-bottom: 0px;

	display: flex;
	flex-direction: column;
}
.hero::before {
	content: '';
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 100%;
	min-height: 100vh;
	background: radial-gradient(
		#00a3ff 10%,
		rgba(38, 5, 253, 0.5) 50%,
		var(--bg-color) 90%
	);
	filter: blur(50px);
	opacity: 0.2;

	z-index: -1;
}
.hero_content {
	position: relative;
	width: 100%;
	height: calc(100vh - var(--header-height));
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
}
.hero_main {
	display: flex;
	justify-content: center;
	height: 100%;
	flex: 1 1;
	flex-direction: column;
	gap: 20px;
}
.hero_controls {
	margin-top: 70px;
	display: flex;
	gap: 20px;
}
.hero_controls_wide {
	width: 100%;
	display: flex;
}
.hero_button_link {
	width: 220px;
	height: 44px;
}
.hero_button_link_wide {
	width: 100%;
	max-width: 460px;
	height: 68px;
}
.hero_button {
	width: 100%;
	height: 100%;
}
.hero_button_wide {
	position: relative;

	padding-inline: 30px;
	padding-block: 35px;

	width: 100%;
	height: 100%;

	text-align: center;

	display: flex;
	justify-content: center;
	align-items: flex-start;

	flex-direction: column;

	background: transparent;
	border: 2px solid var(--accent-color);
	border-radius: 200vw;
	box-shadow: 0 0 20px rgba(0, 163, 255, 0);
	transition: box-shadow 150ms ease-in-out, transform 150ms ease-in-out;
}
.hero_button_wide_text:first-child {
	line-height: 1;
	color: var(--accent-color);
}
.hero_button_wide_text:last-child {
	line-height: 1;
	color: white;
}
#hero_contract_button {
	cursor: pointer;
}
.hero_button_wide_text_copybtn {
	display: inline-block;
	margin-top: 0;
	padding: 0;
	margin-left: 10px;
	transform: translateY(25%);
	opacity: 0.8;
	transition: transform 100ms ease-in-out, opacity 100ms ease-in-out;
}
#hero_contract_button:hover .hero_button_wide_text_copybtn {
	transform: translateY(25%);
	opacity: 1;
}
.copyBud {
	display: flex;
	justify-content: center;
	align-items: center;

	color: white;
	font-size: 11px;
	font-weight: 500;
	position: absolute;
	bottom: -60%;
	left: 50%;
	padding: 12px 20px;
	width: max-content;
	height: 20px;
	background-color: #3c425f;
	border-radius: 100px;
	opacity: 0;
	transition: opacity 500ms ease-in-out;
	transform: translateX(-50%);
}
@keyframes copyHide {
	0% {
		opacity: 0.8;
	}
	100% {
		opacity: 0;
	}
}
.copyBud_appear {
	opacity: 0.8;
	transition: opacity 200ms ease-in-out;
	transform: translateX(-50%);
	animation: 1.5s linear 0s forwards running copyHide;
}
.hero_mana {
	position: relative;
	display: flex;
	justify-content: center;
	flex: 1 1;
	flex-direction: column;
}
.mana_crystal,
.mana_crystal_glow {
	max-width: 577px;
	max-height: 577px;
	min-width: 480px;
	min-height: 480px;
	width: 100%;
	height: 100%;
	transform: rotateZ(10deg);
	animation: crystal-lifting 3s ease-in-out infinite alternate;
}
.mana_crystal_glow {
	position: absolute;
	top: 0;
	left: 0;
	animation: crystal-lifting 3s ease-in-out infinite alternate,
		crystal-glowing 30s ease-in-out infinite;
}
@keyframes crystal-lifting {
	0% {
		transform: translateY(0%) rotateZ(10deg);
	}
	100% {
		transform: translateY(-4%) rotateZ(10deg);
	}
}
@keyframes crystal-glowing {
	0% {
		filter: opacity(0);
	}
	5% {
		filter: opacity(0);
	}
	7% {
		filter: opacity(0.9);
	}
	12% {
		filter: opacity(0);
	}
	31% {
		filter: opacity(0);
	}
	33% {
		filter: opacity(0.9);
	}
	40% {
		filter: opacity(0);
	}
	45% {
		filter: opacity(0);
	}
	46% {
		filter: opacity(0.4);
	}
	49% {
		filter: opacity(0);
	}
	53% {
		filter: opacity(0);
	}
	54% {
		filter: opacity(0.9);
	}
	58% {
		filter: opacity(0);
	}
	66% {
		filter: opacity(0);
	}
	68% {
		filter: opacity(0.9);
	}
	75% {
		filter: opacity(0);
	}
	80% {
		filter: opacity(0);
	}
	81% {
		filter: opacity(0.3);
	}
	86% {
		filter: opacity(0);
	}
	88% {
		filter: opacity(0);
	}
	89% {
		filter: opacity(0.8);
	}
	99% {
		filter: opacity(0);
	}
	100% {
		filter: opacity(0);
	}
}

/* ** MEDIA ** */

@media screen and (max-width: 880px) {
	.hero_content {
		flex-flow: column-reverse nowrap;
		align-items: flex-end;
		justify-content: center;
	}
	.hero_main {
		width: 100%;
		justify-content: flex-start;
	}
	.hero_mana {
		flex: 0 1;
	}
	.hero_controls {
		display: flex;
		justify-content: center;
	}
	.hero_controls_wide {
		display: flex;
		justify-content: center;
	}
	.hero_button_link_wide {
		max-width: 100%;
	}
	.hero_button_link {
		width: 100%;
	}

	.mana_crystal,
	.mana_crystal_glow {
		min-width: 300px;
		min-height: 300px;
		width: 300px;
		height: 300px;
	}
}
@media screen and (max-width: 550px) {
	.hero_controls {
		justify-content: space-between;
	}
	.hero_controls_wide {
		justify-content: center;
	}
	.hero_button_link_wide {
		max-width: 100%;
	}
}
@media screen and (max-width: 422px) {
	.hero_button_wide_text_copybtn {
		display: none;
	}
}
@media screen and (max-width: 390px) {
	.hero_button_wide {
		padding-block: 15px;
		padding-inline: 20px;
	}
}
@media screen and (max-height: 690px) {
	.mana_crystal,
	.mana_crystal_glow {
		min-width: 220px;
		min-height: 220px;
		width: 220px;
		height: 220px;
	}
}
